:root {
    --primary: #031634;
    --white: #fff;
    --black: #000;
    --canary: rgb(255, 206, 52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* !!! comment to hide outlines */
    /* outline: red solid 1px; */
    font-family: "Roboto", sans-serif;
}
body {
    overflow: hidden;
}
.card-container {
    background-color: rgba(245, 245, 245, 0);
}
.navbar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.nav-container {
    background-color: #2828283f;
    padding-left: 8%;
    padding-right: 8%;
    transition: ease all 0.5s;
}

.nav-scrolled {
    background-color: #031634f2 !important;
}

.nav-links-wrapper {
    /* background-color: #09ff00; */
}

.navbar-nav {
    /* background-color: red; */
}
.nav-item {
    margin-top: 0px;
    margin-right: 1px;
    margin-bottom: 0px;
}
.nav-item {
}
.nav-item > a {
    font-weight: 400;
    font-size: 16px;
    color: #d8d8d8;
    padding-top: 42px;
    padding-bottom: 42px;
}

.nav-item > div {
    font-weight: 400;
    font-size: 16px;
    color: #d8d8d8;
    padding-top: 42px;
    padding-bottom: 42px;
}

.nav-item > div > a {
    text-decoration: none;
    color: #d8d8d8;
}
.dropdow-menu {
    border-radius: 3px !important;
}
.nav-item:hover {
    background-color: #ececec46;
}

.link-active {
    color: var(--white);
    background-color: #ececec30;
}

.offcanvas {
    background-color: var(--primary) !important;
    /* z-index: 2; */
}

.custom-toggler.navbar-toggler {
    border-color: var(--white);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 254, 254, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-container {
    display: flex;
    align-items: center;
}
.image-logo {
    width: 100px;
    height: 100px;
    transition: ease all 0.5s;
}
.image-display {
    display: none;
}
.text-logo {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
}

.landing {
    display: flex;
    height: 100vh;
    transition: ease all 0.5s;
}
.landing-mobile {
    display: none;
}
.ict-landing-mobile {
    display: none;
}
.construction {
    width: 50%;
    background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.118),
            #0316347c
        ),
        url("/images/construction_bg2.jpg");
    background-size: cover;
    background-position: center;
    /* transform: scaleX(-1); */
    /* z-index: -1; */
}

.ict {
    width: 50%;
    background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.118),
            #0316347c
        ),
        url("/images/ict_bg2.jpg");
    background-size: cover;
    background-position: center;
    /* z-index: -1; */
}

.construction-welcome {
    background-color: #28282883;
    width: 80%;
    padding: 30px;
    position: relative;
    top: 27%;
    left: 25%;
    color: var(--white);
    backdrop-filter: blur(2px);
    transition: 200ms ease;
    border-radius: 3px;
    z-index: 1;
}

.construction-welcome:hover {
    background-color: #282828c9;
    width: 81%;
    padding: 30px;
    position: relative;
    top: 27%;
    left: 25%;
    color: var(--white);
    z-index: 99;
}

.c-highlight {
    background-color: #282828c9;
    width: 81%;
    padding: 30px;
    position: relative;
    top: 27%;
    left: 25%;
    color: var(--white);
    z-index: 99;
}

.ict-welcome {
    background-color: #e1e1e181;
    width: 80%;
    padding: 30px;
    padding-left: 60px;
    position: relative;
    top: 42%;
    right: 5%;
    color: var(--black);
    backdrop-filter: blur(2px);
    transition: 200ms;
    border-radius: 3px;
    z-index: 2;
}

.ict-welcome:hover {
    background-color: #e1e1e1d3;
    width: 81%;
    padding: 30px;
    padding-left: 60px;
    position: relative;
    top: 42%;
    right: 5%;
    color: var(--black);
    z-index: 99;
}
.i-highlight {
    background-color: #e1e1e1d3;
    width: 81%;
    padding: 30px;
    padding-left: 60px;
    position: relative;
    top: 42%;
    right: 5%;
    color: var(--black);
    z-index: 99;
}

.close {
    color: #fff !important;
    opacity: 1;
}

.home-construction-container {
    background: url("/images/static/bmq-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.blur-home {
    /* backdrop-filter: blur(2px); */
    background-color: rgba(255, 255, 255, 0.752);
}
/* FADE TRANSITIONS ============================================================================================================================================================================================ */
.card-content {
    overflow: visible;
}
.load-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: transform 1.5s, opacity 0.9s;
}
.load-right {
    opacity: 0;
    transform: translateX(40px);
    transition: transform 1.5s, opacity 0.9s;
}

.load-left.loaded {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
}
.load-right.loaded {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
}

.fade-in-left {
    animation: fadeInLeft 1s both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fadeInRight 1s both;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in-bottom {
    animation: fadeInBottom 1s both;
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-top {
    animation: fadeInTop 1s both;
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* BMQ CONTENT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=== */

.bmq-title {
    color: #031634;
    font-size: 40px;
    transition: ease all 0.5s;
}

.canary-color {
    color: var(--canary);
}
/* 
#construction-content{
    background:  url("/images/static/bmq-background.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover ;
    filter: blur(6px);
    filter: opacity(10%);
} */
/* SECTIONS ============================================================================================================================================================================================= */
#section-1 {
    /* min-height: 100vh; */
}

#section-1-content {
    min-height: 60%;
    /* background-attachment:fixed; */
    /* background-repeat: no-repeat; */
    /* background-size: cover ; */
}
/* ==== ICT CONTAINER ==================================================================================================================================================================================================== */
.home-ict-container {
    background: var(--white);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#ict-container-1 {
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 42%, rgba(3,22,52,0.7063200280112045) 42%), url("/images/home-content1.jpg"); */
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.089) 0%,
            #031634 60%
        ),
        url("/images/static/home-ict1-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    /* transition: ease all .5s; */
}

/*  CANARY */
#ict-container-canary {
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 42%, rgba(3,22,52,0.7063200280112045) 42%), url("/images/home-content1.jpg"); */
    background: url("/images/canary/canary_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    height: auto;
    min-height: 80vh;
    /* transition: ease all .5s; */
}

#ict-container-canary > div {
    padding: 4rem;
    margin: 4rem;
}

#ict-container-2 {
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 42%, rgba(3,22,52,0.7063200280112045) 42%), url("/images/home-content1.jpg"); */
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.284) 0%,
            #000000da 0%
        ),
        url("/images/disaster_bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    height: auto;
    min-height: 85vh;
    /* transition: ease all .5s; */
}
#ict-container-2 > div {
    padding: 4rem;
    margin: 4rem;
}
.ict-content-pic {
    position: relative;

    /* transition: ease all .5s; */
}

#ict-webeoc > h1 {
    font-size: 4.5rem;
}

#ict-webeoc > p {
    line-height: 3rem;
}

.ict-webeoc-btn {
    padding-left: 4rem;
    padding-right: 4rem;
}
.ict-clip {
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #031634b8;
    position: absolute;
    top: -150px;
    left: 0px;
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ict-clip2 {
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #031634b8;
    position: absolute;
    top: 115px;
    left: 200px;
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ict-clip3 {
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #031634b8;
    position: absolute;
    top: 380px;
    left: 0px;
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#ict-pic1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* transition: ease all .5s; */
    -webkit-clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    clip-path: polygon(50% 4%, 97% 28%, 97% 72%, 50% 97%, 3% 72%, 3% 28%);
}

.ict-content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--white);
    padding-left: 4rem;
    font-size: 20px;
    line-height: 2.5rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}

#content-overflow {
    overflow: visible;
}
/* CAREER PAGE ======================================================================================================================================================================================================== */
.career-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.475), #031634da),
        url("/images/career-bg4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 12%;
}

.partners-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.475), #031634da),
        url("/images/partners-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 8%;
}
.career-wrapper {
    width: 75%;
}
.career-intro {
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.239);
    padding-left: 4rem;
    padding-right: 4rem;
}
.career-intro > h1 {
    font-size: 6rem;
    color: var(--primary);
}

.career-intro > p {
    font-size: 1rem;
    color: var(--primary);
    line-height: 2rem;
}

.career-body {
    width: 75%;
}
/* ABOUT PAGE ============================================================================================================================================================================================================== */
.owner-container > div {
    width: 75%;
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
}

.owner-wrapper {
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
}

.story-container-bg {
    background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.475),
            #031634da
        ),
        url("/images/static/leagal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.story-container > div {
    width: 75%;
}
#about-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.475), #031634da),
        url("/images/static/about-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#about-company {
    padding-top: 150px;
}
#about-company > h1 {
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    color: var(--white);
}

#about-sentence {
    background-color: #031634;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
}
#about-sentence > p {
    color: var(--white);
    font-size: 20px;
}

.about-company-pic {
    width: 90%;
    height: 500px;
    object-fit: cover;
    /* object-position: top; */
}

#company-pic-container {
    padding-left: 0px;
}

#company-pic-container-2 {
    padding-right: 0px;
    /* background-color: red; */
    display: flex;
    justify-content: end;
}

.space-top {
    min-height: 90px;
}
.space-bottom {
    min-height: 70px;
}

#bmq-portrait {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

.mission-container > p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.5rem;
}

#portrait-label {
    position: absolute;
    bottom: 10px;
    left: 16px;
    z-index: 999;
    padding: 16px;
    background-color: #28282883;
    color: var(--white);
}

#story-pic {
    width: 90%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

/* == PROTFOLIO STYLES ======================================================================================================================================================================================= */
.portfolio-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.227), #031634da),
        url("/images/static/portfolio_bg4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    height: 85vh;
    padding-top: 12%;
    transition: ease all 0.5s;
}
.portfolio-header {
    width: 75%;
}
.title-container > h1 {
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    color: var(--white);
    transition: ease all 0.5s;
}

.title-container > p {
    color: var(--white);
}

#proeject-container,
#proeject-container-2,
#proeject-container-3,
#home-container-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* transition: ease all .5s; */
}
#project-container {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.089) 0%,
            #031634bb 0%
        ),
        url("/images/portfolio_1.jpg");
    background-attachment: fixed;
}
#project-container-2 {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.089) 0%,
            #031634bb 0%
        ),
        url("/images/portfolio_2.jpg");
    background-attachment: fixed;
}

#project-container-3 {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.089) 0%,
            #031634bb 0%
        ),
        url("/images/portfolio_3.jpg");
    background-attachment: fixed;
}
#home-container-1 {
    /* background: linear-gradient(90deg, rgba(255,255,255,0) 42%, rgba(3,22,52,0.7063200280112045) 42%), url("/images/home-content1.jpg"); */
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.089) 0%, #031634de 0%), url("/images/home-content1.jpg");  */
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.089) 0%,
            #031634de 0%
        ),
        url("/images/picv2/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    /* transition: ease all .5s; */
}

.content-home-blur {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(1px);
}
.blur {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
}
.home-content-row {
    width: 100%;
    /* transition: ease all .5s; */
}

.content-row {
    width: 75%;
    /* transition: ease all .5s; */
}

.home-content-pic1 {
    position: relative;
    /* transition: ease all .5s; */
}
.home-content-pic1 > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    transition: ease all 0.5s;
    /* opacity: 0; */
}

.home-content-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    color: var(--white);
    font-size: 20px;
    line-height: 2.5rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}

.home-content-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem;
    color: var(--white);
    font-size: 24px;
    line-height: 3rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}

.home-content-text3 > p {
    text-align: center;
    /* transition: ease all .5s; */
}

.home-content-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    color: var(--primary);
    font-size: 20px;
    line-height: 2.5rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}

.home-content-text2 > p {
    text-align: center;
}
.home-content-text1 > p {
    text-align: center;
}
.content-pic {
    position: relative;
    /* transition: ease all .5s; */
}
.content-pic > img {
    position: absolute;
    top: -70px;
    left: 0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    /* transition: ease all .5s; */
}

.content-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    color: var(--white);
    font-size: 20px;
    line-height: 2.5rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}
.content-text-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    color: var(--white);
    font-size: 20px;
    line-height: 2.5rem;
    z-index: 9999;
    /* transition: ease all .5s; */
}

/* === SERVICE STYLES ====================================================================================================================================================================================== */

.service-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.227), #031634da),
        url("/images/picv2/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    min-height: 55vh;
    padding-top: 150px;
    transition: ease all 0.5s;
}
.ict-service-contents {
    background: linear-gradient(
            0deg,
            rgba(255, 254, 254, 0.227),
            rgba(255, 255, 255, 0.855)
        ),
        url("/images/static/ict-service-bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.service-header {
    width: 80%;
    padding: 3rem;
    background-color: #938ba16a;
    backdrop-filter: blur(2px);
    margin-bottom: 2rem;
}

.specialty-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.227), #031634da),
        url("/images/static/service-bg2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blur-service {
    backdrop-filter: blur(3px);
}

.ict-service-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.227), #031634da),
        url("/images/static/ict-service-bg1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    height: 85vh;
    padding-top: 12%;
    transition: ease all 0.5s;
}

.ict-service-pic {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

.ict-service-wrapper {
    height: auto;
    min-height: 40vh;
    background-color: #031634ea;
    backdrop-filter: blur(3px);
}
.ict-service-wrapper2 {
    height: auto;
    min-height: 40vh;
    background-color: #ffffff00;
    /* backdrop-filter: blur(3px); */
}
.ict-service-wrapper3 {
    height: auto;
    min-height: 40vh;
    background-color: #03163491;
    backdrop-filter: blur(3px);
}

.ict-service-wrapper4 {
    height: auto;
    min-height: 40vh;
    background-color: #03163400;
    backdrop-filter: blur(3px);
}

.ict-service-wrapper5 {
    height: auto;
    min-height: 40vh;
    background-color: #031634cf;
    backdrop-filter: blur(3px);
}
.ict-service-list {
    font-size: 1.5rem;
}
/* FOOTER CONTAINER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer-container {
    border-top: 2px solid var(--primary);
    display: flex;
    justify-content: center;
}

.footer-container > div {
    width: 80%;
}

.footer-list {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: var(--primary);
}

/* MEDIA QUERIES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 1200px) {
    .nav-container {
        padding-left: 0px;
        padding-right: 0px;
        transition: ease all 0.5s;
    }
    .nav-item > a {
        font-weight: 400;
        font-size: 16px;
        color: #d8d8d8;
    }
    .image-logo {
        width: 80px;
        height: 80px;
        transition: ease all 0.5s;
    }
    .text-logo {
        font-size: 16px;
    }

    .bmq-title {
        color: #031634;
        font-size: 30px;
    }
    #about-company > h1 {
        font-size: 60px;
    }

    /* PORTFOLIO ======================================================================*/
    .portfolio-header {
        width: 85%;
    }
    .content-row {
        width: 100%;
    }
    .content-pic {
        position: relative;
    }
    .content-pic > img {
        position: absolute;
        top: -70px;
        left: 0px;
        width: 100%;
        height: 500px;
    }

    .content-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
        color: var(--white);
        font-size: 20px;
        line-height: 2.5rem;
    }

    .content-text-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
        color: var(--white);
        font-size: 20px;
        line-height: 2.5rem;
    }

    /* CAREER ------------------------------------------------------------------------------------------------------ */

    .career-wrapper {
        width: 100%;
    }
}
@media (max-width: 990px) {
    .landing {
        display: none;
    }
    .nav-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .landing-mobile {
        display: flex;
        background-image: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.118),
                #0316347c
            ),
            url("/images/construction_bg2.jpg");
        background-size: cover;
        background-position: center;
        height: 70vh;
        transition: ease all 0.5s;
        background-size: cover;
        background-position: center;
        flex-direction: column;
    }
    .ict-landing-mobile {
        display: flex;
        background-image: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.118),
                #0316347c
            ),
            url("/images/ict_bg2.jpg");
        background-size: cover;
        background-position: center;
        min-height: 70vh;
        height: auto;
        transition: ease all 0.5s;
        background-size: cover;
        background-position: center;
        flex-direction: column;
    }

    .links-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);

        margin-top: 90px;
        width: 100%;
        height: 45px;
        background-color: #ffffff6f;
        z-index: 1;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }
    .image-logo {
        width: 80px;
        height: 80px;
    }

    .text-logo {
        color: var(--white);
        font-weight: bold;
        font-size: 16px;
        display: inline-flex;
    }

    .link-active {
        color: var(--white);
        background-color: var(--primary);
    }

    .page-link {
        padding-top: 15px;
        padding-bottom: 5px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page-link > h3 {
        font-size: 16px;
    }
    .landing-mobile > p {
        padding: 15px;
        width: 70%;
        margin-top: 200px;
        margin-left: 40px;
        background-color: #2828285e;
        backdrop-filter: blur(2px);
        color: var(--white);
    }

    .landing-mobile > p:hover {
        padding: 15px;
        width: 71%;
        margin-top: 200px;
        margin-left: 40px;
        background-color: #282828c4;
        backdrop-filter: blur(2px);
    }

    .ict-landing-mobile > p {
        padding: 15px;
        width: 70%;
        margin-top: 200px;
        margin-left: 40px;
        background-color: #ffffff5e;
        backdrop-filter: blur(2px);
        color: var(--black);
    }

    .ict-landing-mobile > p:hover {
        padding: 15px;
        width: 71%;
        margin-top: 200px;
        margin-left: 40px;
        background-color: #282828c4;
        backdrop-filter: blur(2px);
    }

    .bmq-title {
        color: #031634;
        font-size: 20px;
    }

    /*  CONSTRUCTION HOME ===================================================================================================================================================================== */
    .home-content-pic1 {
        position: relative;
        /* transition: ease all .5s; */
    }
    .home-content-pic1 > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        transition: ease all 0.5s;
        /* opacity: 0; */
    }

    .home-content-text1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        color: var(--white);
        font-size: 16px;
        line-height: 2.5rem;
        z-index: 9999;
        /* transition: ease all .5s; */
    }

    .home-content-text2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        color: var(--primary);
        font-size: 16px;
        line-height: 2.5rem;
        z-index: 9999;
        /* transition: ease all .5s; */
    }

    .home-content-text2 > p {
        text-align: center;
    }

    /*  ICT HOME -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

    #ict-webeoc > h1 {
        font-size: 2rem;
    }

    #ict-webeoc > p {
        line-height: 3rem;
    }

    .ict-webeoc-btn {
        padding-left: 0;
        padding-right: 0;
    }
    #ict-container-2 {
        /* background: linear-gradient(90deg, rgba(255,255,255,0) 42%, rgba(3,22,52,0.7063200280112045) 42%), url("/images/home-content1.jpg"); */
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.284) 0%,
                #000000da 0%
            ),
            url("/images/disaster_bg3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        background-attachment: fixed;
        /* transition: ease all .5s; */
    }

    #ict-container-canary > div {
        padding: 0rem !important;
        margin: 0rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    #ict-container-2 > div {
        padding: 0.5rem !important;
        margin: 0.5rem !important;
    }
    .ict-content-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        color: var(--white);
        padding-left: 2rem;
        font-size: 16px;
        line-height: 3rem;
        z-index: 9999;
        /* transition: ease all .5s; */
    }

    #content-overflow {
        overflow: hidden;
    }
    /* ABOUT MEDIA QUERIES ================================================ */
    .owner-container > div {
        width: 70%;
    }
    .story-container > div {
        width: 100%;
    }
    #about-sentence {
        background-color: #031634;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 36px;
        padding-left: 25px;
        padding-bottom: 16px;
    }
    #about-sentence > p {
        font-size: 16px;
    }
    #about-company > h1 {
        font-size: 45px;
    }

    .about-company-pic {
        width: 100%;
        height: 300px;
        object-fit: cover;
        /* object-position: top; */
    }
    #company-pic-container {
        padding-left: 0.5rem;
    }

    #company-pic-container-2 {
        padding-right: 0.5rem;
        /* background-color: red; */
        display: flex;
        justify-content: center;
    }

    .space-top {
        min-height: 0px;
    }
    .space-bottom {
        min-height: 0px;
    }
    #bmq-portrait {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }
    .mission-container > p {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        line-height: 2rem;
    }

    #story-pic {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    /* PORTFOLIO ============================================================================= */
    .portfolio-container {
        /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.227), #031634da), url("/images/static/portfolio-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center; */
        z-index: -1;
        height: 90vh;
        padding-top: 20%;
    }
    .portfolio-header {
        width: 90%;
    }

    .title-container > h1 {
        font-size: 45px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        font-weight: bold;
        color: var(--white);
    }

    .title-container > p {
        color: var(--white);
    }
    /* #project-container {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.256), #031634ce ), url("/images/portfolio_1.jpg");
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;
        display: flex;
        justify-content: center;
        
    } */

    .blur {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(1px);
    }
    .content-row {
        width: 100%;
    }
    .content-pic {
        position: relative;
    }
    .content-pic > img {
        position: relative;
        top: -30px;
        /* left: 0px; */
        width: 100%;
        height: 300px;
    }

    .content-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        padding-top: 0px;
        color: var(--white);
        font-size: 16px;
        line-height: 2rem;
    }

    .home-content-text3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        color: var(--white);
        font-size: 16px;
        line-height: 2rem;
    }

    .content-text-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 4rem;
        color: var(--white);
        font-size: 16px;
        line-height: 2rem;
    }

    .content-text > p {
        text-align: center;
    }

    .content-text-2 > p {
        text-align: center;
    }

    /* SERVICE ================================================================================================================== */

    .service-header {
        width: 100%;
        padding: 3rem;
        background-color: #282828b9;
        backdrop-filter: blur(2px);
        margin-bottom: 2rem;
    }
    /* CAREER --------------------------------------------------------------------------------------------------------------------- */
    .career-container {
        padding-top: 150px;
    }
    .partners-container {
        padding-top: 7rem;
    }
    .career-wrapper {
        width: 100%;
    }
    .career-intro {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.239);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
    }
    .career-intro > h1 {
        font-size: 2.5rem;
        color: var(--primary);
    }

    .career-intro > p {
        font-size: 1rem;
        color: var(--primary);
        line-height: 2rem;
    }

    /* ICT SERVICE ============================================================================================================== */
    .ict-service-container {
        padding-top: 6rem;
    }

    .ict-service-pic {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }
    .ict-service-list {
        font-size: 1rem;
    }

    .card-content {
        overflow: hidden;
    }
}

@media (max-width: 350px) {
    .text-logo {
        color: var(--white);
        font-weight: bold;
        font-size: 16px;
        display: none;
    }
    #about-company > h1 {
        font-size: 30px;
    }

    #bmq-portrait {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    #story-pic {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    .portfolio-container {
        height: 100vh;
        padding-top: 25%;
    }
    .title-container > h1 {
        font-size: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        font-weight: bold;
        color: var(--white);
    }
}
